@import 'header.css';
@import 'main-banner.css';
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
  }

  body {
    font-family: 'Montserrat';
    margin: unset;
  }

  main {
    margin-top: 111px;
  }

  a {
    text-decoration: none;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    height: auto;
  }