@import 'header.css';
@import 'main-banner.css';
@import 'trekking.css';
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-Regular.ttf');
  }

  :root {
    --wild-green: #04f340;
  }

  body {
    font-family: 'Montserrat';
    font-weight: 300;
    margin: unset;
  }

  /* main {
    margin-top: 76px;
  } */

  main.header-gap {
    margin-top: 76px;
  }

  a {
    text-decoration: none;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    height: auto;
  }

  .container {
    padding: 20px;
  }